html {
	min-width: 100%;
	min-height: 100%;
}
body {
	background-color: #ebebeb;
	font-size: 18px;
	color: #343434;
	letter-spacing: 0.2rem;
}
body,input,textarea,select {
	font-size: 16pt;
	line-height: 1.74em;
}

#recipe-content {
	position: relative;
	width: 100%;
	padding: 1em;
	-webkit-transform: translateX(300px);
	-moz-transform: translateX(300px);
	-o-transform: translateX(300px);
	-ms-transform: translateX(300px);
	transform: translateX(300px);
}
#recipe-body {
	width: 100%;
}

#ingredient-line {
	color: #343434;
	transition-property: color;
	transition-duration: 3s;
}
#ingredient-line:hover { color: blue; }

ul {
	list-style-type: none;
	padding: 0;
}
h1 { font-size: 2.4em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.45em; }
h4, h5, h6 { font-size: 1.25em; }
h1,h2,h3,h4,h5,h6 { letter-spacing: -0.015em; }
