html {
	min-width: 100%;
	min-height: 100%;
}
body {
	color: #333333;
	font-size: 18px;
}
body,input,textarea,select {
	font-size: 16pt;
	line-height: 1.74em;
}

a {
	color: #4899b1;
}
a:hover {
	color: #a66347;
}

header {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	background-image: url("../images/alcohol-bar-drinks.jpg");
	background-position: center;
	background-size: cover;
}
section {
	padding: 100px 0;
}

#main-title, #subtitle {
	color: #4899b1;
}
#main-title {
	padding-top: 10%;
	padding-bottom: 10%;
}
header .btn {
	margin-bottom: 10%;
}

#ingredient-line {
	color: #343434;
	transition-property: color;
	transition-duration: 3s;
}
#ingredient-line:hover { color: blue; }
#recipe-name {}
#recipe-garnish, #recipe-glass, #recipe-method, #recipe-description {
	font-size: 90%;
}
#back-link {
	font-size: 70%;
}

ul {
	list-style-type: none;
	padding: 0;
}

