<!doctype html>
<html lang="en" ng-app="iceup">
  <head>

    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/custom-style.css" type="text/css">

    <!-- AngularJS -->
    <script src="/public/js/angular.min.js"></script>

  </head>
  <body>
    <div id="wrapper">

      <div id="recipe-content">
        <header>
          <h1>{{.Name}}</h1>
        </header>
        <div id="recipe-body"><p>{{.Method}}</p>

        {{if .Ingredients}}
        <p>
        <ul>
          {{range .Ingredients}}
            {{if .Parts}}
            <div id="ingredient-line">
              <li><div id="amount">{{.Parts}} parts/{{.Amount}}{{.AmountUnits}}</div> <div id="ingredient">{{.IngredientName}}</div><li>
            </div>
            {{else}}
              {{if .AmountUnits}}
              <div id="ingredient-line">
                <li><div id="amount">{{.Amount}}{{.AmountUnits}}</div> <div id="ingredient">{{.IngredientName}}</div></li>
              </div>
              {{else}}
              <div id="ingredient-line">
                <li><div id="amount">{{.Amount}}</div> <div id="ingredient">{{.IngredientName}}</div></li>
              </div>
              {{end}}
            {{end}}
          {{end}}
        </ul>
        </p>
        {{end}}
      </div>

    </div>
  </body>
</html>
