<header>
<div class="header-content">
    <ul id="site-menu">
      <li><a href="#/about"><i class="fa fa-info fa-2x"></i></a></li>
    </ul>

    <h1 id="main-title">ICE UP!</h1>

    <p id="subtitle">A quick and easy way to look up cocktail recipes</p>

</div>
</header>
<section id="cocktail-main">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="search" data-ng-model="query"></input>
      </div>
    </div>

    <div class="col-lg-10 col-lg-offset-1 text-center">
      <ul>
        <li data-ng-repeat="recipe in recipes | filter:query" id="cocktail-list">
          <a href="#/recipes/{{recipe.id}}#back-link" class="recipe-links">{{recipe.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
