<div class="col-lg-10 col-lg-offset-1 text-center">
  <h2 id="recipe-name">{{recipe.name}}</h2>
  <p id="recipe-description">{{recipe.description}}</p>
  <p id="recipe-method">{{recipe.method}}</p>
  <p id="recipe-glass">{{recipe.glass}}</p>
  <ul>
    <li data-ng-repeat="ing in recipe.ingredients">
      <span data-ng-if="ing.parts">{{ing.parts}} part(s)/</span>{{ing.amount}}{{ing.amountUnits}} {{ing.ingredientName}}</li>
  </ul>
  <p id="recipe-garnish">{{recipe.garnish}}</p>
  <!--<p data-ng-if="recipe.variations">Variations: {{recipe.variations}}</p>
  -->
  <ul data-ng-if="recipe.variations">Variations: 
    <li data-ng-repeat="v in recipe.variations">
      {{v.name}}: {{v.variant}}
    </li>
  </ul>
  <a href="#" id="back-link">Back to recipes' list</a>
</div>
